.*
/admin/img/*
/admin/slow_sql.log
/admin/config.php
/backup/*

/dev/i
/dev/cache/*
/dev/config.php

/logs/*
/tmp/*

404.html

!.gitkeep
!.gitignore
!.htaccess
!env.example

/vendor/

#WQ docker

docker-compose.yml
Makefile
docker/*
storage
dev/slow_sql.log