.staticBlock {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.staticBlock__container {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-right: 350px;
}

.static__title {
    margin-bottom: 4rem;
    text-transform: uppercase;
    color: #000000;
    line-height: 3.8rem;
    text-align: left;
    display: block;
    font-weight: 700;
    letter-spacing: -0.04rem;
    font-size: 2.6rem;
}

.static__description {
    margin-bottom: 3.3rem;
    letter-spacing: 0.02em;
    color: #444444;
    font-size: 1.6rem;
    line-height: 2.8rem;
    text-align: left;
    display: block;
}

.static__subtitle {
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8rem;
    text-align: left;
    display: block;
}

.static__description a {
    color: #2196ec;
}

@media (max-width: 800px)
{
    .container {
        width: 100%;
        padding: 0 1.5rem;
    }
}