/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */

  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  font-family: -apple-system,system-ui,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

.dayg {
    width:100%;
    text-align:center;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  margin: 0.67em 0;

  font-size: 2em;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  /* 1 */
  overflow: visible;

  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre, code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */

  -webkit-text-decoration-skip: objects;
  /* 2 */
}

a:hover .specialProject__text, a:hover .articlesItem__description,  a:hover .postMoreItem__description {
    opacity: 0.9;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  /* 1 */
  text-decoration: underline;
          text-decoration: underline dotted;

  border-bottom: none;
  /* 2 */

  -webkit-text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  color: #000;
  background-color: #ff0;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  position: relative;

  vertical-align: baseline;

  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;

  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * Known issues:
 * - `select`:
 *   By default, Chrome on OS X and Safari on OS X allow very limited styling of
 *   select, unless a border property is set. The default font weight on
 *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
 *   OS X.
 * - `[type="checkbox"]`:
 *   It is recommended that you do not style checkbox and radio inputs as
 *   Firefox's implementation does not respect box-sizing, padding, or width.
 * - `[type="number"]`:
 *   Certain font size values applied to number inputs cause the cursor style of
 *   the decrement button to change from `default` to `text`.
 * - `[type="search"]`:
 *   The search input is not fully stylable by default. In Chrome and Safari on
 *   OSX/iOS you can't control `font`, `padding`, `border`, or `background`. In
 *   Chrome and Safari on Windows you can't control `border` properly. It will
 *   apply `border-width` but will only show a border color (which cannot be
 *   controlled) for the outer 1px of that border. Applying
 *   `-webkit-appearance: textfield` addresses these issues without removing the
 *   benefits of search inputs (e.g. showing past searches). Safari (but not
 *   Chrome) will clip the cancel button on when it has padding (and `textfield`
 *   appearance).
 * - `::placeholder`:
 *   In Edge, placeholders will disappear on `relative` or `absolute` positioned
 *   `<input>` elements if you use `opacity` less than `1` due to a
 *   [bug](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3901363/).
 */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  /* 1 */
  margin: 0;
  /* 1 */

  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  line-height: 1.15;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;

  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  /* 1 */
  outline-offset: -2px;

  -webkit-appearance: textfield;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  /* 1 */
  font: inherit;

  -webkit-appearance: button;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  /* 1 */
  display: table;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 2 */

  white-space: normal;
  /* 3 */

  color: inherit;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */

  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}




section.contentBlock__content:not(:first-child)::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  margin: 52px 0 72px 0;
  background-color: rgb(238, 238, 238);
}

* {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;

  outline: none;
}

body,
html {
  font-size: 62.5%;
}

/* preloader */
.preloader {
  margin: 15px auto 15px;
  width: auto;
  text-align: center;
}

.preloader > div {
  width: 32px;
  height: 6px;
  background-color: #ffffff;
  display: inline-block;
  -webkit-animation: preloader 2s infinite ease-in-out both;
  animation: preloader 2s infinite ease-in-out both;
}

.preloader .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.preloader .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes preloader {
  0%, 80%, 100% { background-color: #ffffff; }
  40% { background-color: #1c1c1c; }
}

@keyframes preloader {
  0%, 80%, 100% {
    background-color: #ffffff;
  } 40% {
      background-color: #1c1c1c;
    }
}

.container {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  padding: 4px 1.5rem;
}

h1 {
  margin: 0;
}

.icon {
}

.icon--smallVk {
  width: 13px;
  height: 8px;

  background-image: url(../img/sprite.png);
  background-position: -48px -28px;
}

.icon--smallTwitter {
  width: 10px;
  height: 8px;

  background-image: url(../img/sprite.png);
  background-position: -66px -52px;
}

.icon--smallFb {
  width: 6px;
  height: 10px;

  background-image: url(../img/sprite.png);
  background-position: 0px -65px;
}

.icon--smallPinterest {
  width: 8px;
  height: 9px;

  background-image: url(../img/sprite.png);
  background-position: -36px -45px;
}

.icon--smallSearch {
  width: 11px;
  height: 11px;

  background-image: url(../img/sprite.png);
  background-position: -66px -40px;
}

.icon--bigVk {
  width: 24px;
  height: 14px;

  background-image: url(../img/sprite.png);
  background-position: -23px -28px;
}

.icon--bigTwitter {
  width: 19px;
  height: 15px;

  background-image: url(../img/sprite.png);
  background-position: -16px -45px;
}

.icon--bigFb {
  width: 10px;
  height: 19px;

  background-image: url(../img/sprite.png);
  background-position: -66px -20px;
}

.icon--bigPinterest {
  width: 15px;
  height: 19px;

  background-image: url(../img/sprite.png);
  background-position: 0px -45px;
}

.icon--bigOdnoklassniki {
  width: 11px;
  height: 19px;

  background-image: url(../img/sprite.png);
  background-position: -66px 0px;
}

.icon--smallSearch {
  width: 11px;
  height: 11px;

  background-image: url(../img/sprite.png);
  background-position: -66px -40px;
}

.icon--bigSearch {
  width: 22px;
  height: 22px;

  background-image: url(../img/sprite.png);
  background-position: -20px 0px;
}

.icon--arrowLeft {
  width: 4px;
  height: 9px;

  background-image: url(../img/sprite.png);
  background-position: -45px -45px;
}

.icon--arrowRight {
  width: 4px;
  height: 9px;

  background-image: url(../img/sprite.png);
  background-position: -50px -45px;
}

.icon--close {
  width: 22px;
  height: 21px;

  background-image: url(../img/sprite.png);
  background-position: -43px 0px;
}

.icon--hamburger {
  width: 22px;
  height: 16px;

  background-image: url(../img/sprite.png);
  background-position: 0px -28px;
}

.icon--arrowTop {
  width: 19px;
  height: 27px;

  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
}

.btn {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  cursor: pointer;

  border: none;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn--white {
  background-color: #ffffff;
}

.btn--radius {
  -webkit-border-radius: 100%;
          border-radius: 100%;
}

.headerBtnSearch {
  padding: 0.2rem 0.3rem;
  margin-top: -4px;
}

.headerBtnSearch:hover {
  background-color: #fff400;
}

.modalMobileMenuClose,
.modalSearchClose {
  position: absolute;
  top: 2rem;
  right: 2rem;

  width: 45px;
  height: 45px;

  cursor: pointer;
}

.modalMobileMenuClose:hover,
.modalSearchClose:hover {
}

.modalSearchFormBtn {
  position: absolute;
  top: 0;
  right: 0;

  width: 45px;
  height: 45px;

}

/*
.modalSearchFormBtn:hover {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
*/
.headerMobileBtnMenu,
.headerMobileBtnSearch {
  width: 45px;
  height: 45px;
}

.pagination {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  list-style-type: none;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.pagination__item {
  margin-right: 1.4em;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__item--prev .paginationLink__icon {
  margin-right: 1rem;

  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}

.pagination__item--next .paginationLink__icon {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.pagination__item--next .paginationLink__text {
  margin-right: 1rem;
}

.pagination__item--active {
  cursor: default;

  -webkit-box-shadow: 2px 2px 0 0 #fff400;
          box-shadow: 2px 2px 0 0 #fff400;
}

.pagination__item--active a {
  cursor: default;
}

.pagination__item:hover:not(.pagination__item--active) .paginationLink {
  border-color: #888888;
}

.pagination .paginationLink {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-width: 34px;
  height: 34px;
  padding: 0 1.2rem;

  text-decoration: none;
  letter-spacing: 0.02em;

  color: #222222;
  border: 1px solid #cccccc;
  background-color: #ffffff;

  font-size: 1.2rem;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btnToUp {
  position: fixed;
  right: 5rem;
  bottom: 3vh;

  visibility: collapse;

  width: 50px;
  height: 50px;

  opacity: 0;
  background-color: #eeeeee;
}

.btnToUp--isVisible {
  visibility: visible;

  opacity: 1;
}

.btnToUp--isVisible:hover {
  opacity: 0.9;
}

.postRepost {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.postRepost__item {
  height: 36px;
  margin-right: 5px;

  -webkit-border-radius: 2px;
          border-radius: 2px;

  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
}

.postRepost__item--fb {
  background-color: #768bb7;
}

.postRepost__item--vk {
  background-color: #8aa5bf;
}

.postRepost__item--twitter {
  background-color: #6bc3ea;
}

.postRepost__item--odnoklassniki {
  background-color: #de8b59;
}

.postRepost__item--pinterest {
  background-color: #db6368;
}

.postRepost__item:last-child {
  margin-right: 0;
}

.postRepost .btn:hover {
    opacity: 0.9;
}

.logo {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  text-decoration: none;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__img {
  max-width: 100%;
}

.soc {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.soc__link {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 20px;
  height: 20px;
  margin-right: 0.8rem;

  text-decoration: none;

  -webkit-border-radius: 100%;
          border-radius: 100%;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.soc__link--vk {
  background-color: #8aa5bf;
}

.soc__link--twitter {
  background-color: #6bc3ea;
}

.soc__link--fb {
  background-color: #768bb7;
}

.soc__link--pinterest {
  background-color: #db6368;
}

.soc__link:last-child {
  margin-right: 0;
}

.soc--borderWhite .soc__link {
  border: 1px solid #ededed;
  background-color: transparent;
}

.specialProject__link {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-right: 1rem;

  text-decoration: none;

  font-size: 1.2rem;

  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.specialProject__wrapperImg {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;

  width: 70px;
  height: 70px;
  margin-right: 2.1rem;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.specialProject__wrapperImg img {
  height: 70px;
}

.specialProject__content {
  padding-top: 0.15rem;
}

.specialProject__title {
  display: inline-block;

  margin-bottom: 1rem;

  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #444444;
}

.specialProject__text {
  max-width: 200px;

  letter-spacing: 0.02em;

  color: #444444;

  font-size: 1.2rem;
  line-height: 1.8rem;
}

.headerMenu {
  font-size: 1.1rem;
}

.headerMenu__list {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  height: 52px;

  list-style-type: none;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerMenu__item {
  margin-right: 4rem;

  background-color: #ffffff;
}

.headerMenu__item:hover, .headerMenu__item.active {
  background-color: #fff400;
}

.headerMenu__item:last-child {
  margin-right: 0;
}

.headerMenu__link {
  display: block;
  text-transform: uppercase;
  padding: 0.25rem 0.6rem;

  text-decoration: none;
  letter-spacing: 0.15em;

  color: #222222;
}

.header {
  margin-bottom: 3.3rem;
  padding-top: 3rem;
}

.header__container {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__mobileBtnMenu {
  margin-right: auto;
}

.header__specialProject {
  margin-right: auto;
}

.header__logo {
  max-width: 44%;
  margin-right: auto;
  margin-left: -13.2rem;
}

.header__mobileBtnMenu, .header__mobileBtnSearch {
  display: none;
}

.header__top {
  margin-bottom: 3rem;
  padding-top: 7px;
  padding-bottom: 7px;
}

.header__bottom {
  background-image: url("../img/header__bottomBg.png");
  background-repeat: repeat-x;
}

.header__menu {
  margin-right: 3.3rem;
  margin-left: 2rem;
  margin-top: -4px;
}

.postInforamtion {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  letter-spacing: 0.13em;
  text-transform: uppercase;

  font-size: 1.1rem;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.postInforamtion > * {
  margin-right: 2.8rem;
  color: #999999;
}

.postInforamtion > *::after {
  position: absolute;
  top: 50%;
  right: -1.5rem;

  width: 3px;
  height: 3px;

  content: '';
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  -webkit-border-radius: 100%;
          border-radius: 100%;
  background-color: #333333;
}

.postInforamtion > *:last-child {
  margin-right: 0;
}

.postInforamtion > *:last-child::after {
  display: none;
}

.postInforamtion__type {
  padding: 0.2rem 0.5rem;

  background-color: #fff400;
}

.postInforamtion__link {
  cursor: pointer;
  text-decoration: none;
  color: #222222;
}
.postMobileBanner {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.postMobileBanner > * {
  width: 100%;
}

.postComments::after {
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;

  width: 100%;
  height: 1px;

  content: '';

  background-color: #cccccc;
}

.postComments__title {
  display: block;

  margin-bottom: 4.3rem;

  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #000000;

  font-size: 3rem;
  font-weight: 300;
}

.postMore__title {
  display: block;

  margin-bottom: 4.3rem;

  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #000000;

  font-size: 3rem;
  font-weight: 300;
}

.postMore__row {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;

  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.postMore__row > * {
  margin-right: 3rem;

  -webkit-flex-basis: -webkit-calc(100% / 3);
      -ms-flex-preferred-size: calc(100% / 3);
          flex-basis: calc(100% / 3);
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

.postMore__row > *:last-child {
  margin-right: 0;
}

.postMore .postMoreItem__link {
  text-decoration: none;
}

.postMore .postMoreItem__link:hover .postMoreItem__img {
  /*
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06);
  */
}

.postMore .postMoreItem__wrapperImg {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;

  width: 100%;
  margin-bottom: 1.7em;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.postMore .postMoreItem__img {
  width: 100%;

  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.postMore .postMoreItem__content {
}

.postMore .postMoreItem__description {
  margin-bottom: 1.4rem;

  letter-spacing: 0.02em;

  color: #222222;

  font-size: 1.5rem;
  line-height: 2.2rem;
}

.postMore .postMoreItem__date {
  letter-spacing: 0.15em;

  color: #555555;

  font-size: 1rem;
  line-height: 2.2rem;
}

.post__mainTitle {
  max-width: 75%;
  margin-right: auto;
  margin-bottom: 1.8rem;
  margin-left: auto;

  text-align: center;

  font-size: 3.6rem;
}

.post__inforamtion {
  margin-bottom: 2.5rem;
  padding-top: 0.4rem;
}

.post__imgCaption {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  color: #999999;
  font-size: 1.3rem;
  font-weight: 300;
  height: 1.3rem;
  padding-top: 1.1rem;
  background: #FFFFFF;
}

.post__wrapperImg {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
          flex-direction: column;

  width: 100%;
  min-height: 200px;
  /*margin-bottom: 1.6rem;*/
  margin-bottom: 0.7rem;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
}

.post__wrapperImg.mb {
  margin-bottom: 1.4rem;
}

.post__wrapperImg::after {
  display: block;

  width: 100%;
  margin-right: auto;
  margin-left: auto;

  content: attr(data-caption);
  text-align: left;

  color: #999999;

  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
  height: 1.3rem;
  background: #FFFFFF;
  padding-top: 1.1rem;
}

.post__wrapperImg:last-child {
  margin-bottom: 1.6rem;
}

.post__img {
  max-width: 100%;
  /*margin-bottom: 0.7rem;*/
}

.post__mobileBanner {
  display: none;
  margin-top: 0.5rem;
  margin-bottom: 3.4rem;
}

.errorBlock {
  margin-top: 10.4rem;
  margin-bottom: 12.4rem;
}

.staticBlock {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.errorBlock__container {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.staticBlock__container {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-right: 350px;
}

.error__title {
  margin-bottom: 4rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
  font-size: 5rem;
  font-weight: 300;
  line-height: 3.8rem;
  text-align: center;
  display: block;
}

.error__subtitle {
  margin-bottom: 4rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.8rem;
  text-align: center;
  display: block;
}

.error__description {
  margin-bottom: 3.3rem;
  letter-spacing: 0.02em;
  color: #444444;
  font-size: 1.6rem;
  line-height: 2.8rem;
  text-align: center;
  display: block;
}

.error__description a {
  color: #2196ec;
}

.static__title {
  margin-bottom: 4rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
  font-size: 5rem;
  font-weight: 300;
  line-height: 3.8rem;
  text-align: left;
  display: block;
}

.static__subtitle {
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8rem;
  text-align: left;
  display: block;
}

.static__description {
  margin-bottom: 3.3rem;
  letter-spacing: 0.02em;
  color: #444444;
  font-size: 1.6rem;
  line-height: 2.8rem;
  text-align: left;
  display: block;
}

.static__description a {
  color: #2196ec;
}

.contentBlock ul, .contentBlock ol {
    margin-bottom: 1.2rem;
    letter-spacing: 0.02em;
    color: #222222;
    font-size: 1.7rem;
    line-height: 3rem;
    margin-left: 2rem;
    /*margin-top: -2.2rem;    */
}

.post__text {
  margin-bottom: 3.3rem;
  color: #333333;
  font-size: 1.7rem;
  line-height: 2.8rem;
}

.post__text a {
    color: #2196ec;
}

.post__text a:hover {
    opacity: 0.9;
}

.post__ul, .post__ol {
  margin-bottom: 1.2rem;
  letter-spacing: 0.02em;
  color: #444444;
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin-left: 2rem;
  margin-top: -2.2rem;
}

.post__ul li, .post__ol li {
}

.post__ol {
  list-style-position: inside;
}

.post__ul li::marker {
  color: #fff400;
}

.post__title {
  margin-bottom: 2.5rem;

  font-size: 2.6rem;
}

.post__secondaryTitle {
  margin-bottom: 2rem;

  font-size: 2.2rem;
}

.post__mainTitle, .post__secondaryTitle, .post__title {
  color: #222222;

  font-weight: 500;
  line-height: 3.2rem;
}

h1.post__mainTitle, h1.post__secondaryTitle, h1.post__title {
  line-height: 4rem;
}

.post__secondaryTitle, .post__title {
  margin-top: 1.6rem; 
}

.post__repost {
  margin-top: 1.9rem;
  margin-bottom: 2.3rem;
}

.post__text.dzen {
    line-height: 1.25em;
}

.post__comments {
  margin-bottom: 3.9rem;
  padding-bottom: 7rem;
  display: none;
}

.categoryPost {
  text-align: center;
}

.categoryPost__link {
  display: block;

  text-decoration: none;
}

.categoryPost__link:hover .categoryPost__img {
  /*
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06);
  */
}

.categoryPost__wrapperImg {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;

  width: 100%;
  min-height: 243px;
  max-height: 243px;
  margin-bottom: 1.4rem;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categoryPost__img {
  width: 100%;

}

.categoryPost__title {
  max-width: 95%;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
  display: block;
  text-decoration: none;
  color: #222222;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
}

.categoryPost__infoCategory {
  display: inline-block;

  padding: 0.2rem 0.2rem 0.2rem 0.4rem;

  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #555555;
  background-color: #fff400;

  font-size: 1rem;
}

.categoryPost--big {
  width: 100%;
  height:460px;
  max-width: 100%;
  margin-bottom: 1rem !important;

  -webkit-flex-basis: 100% !important;
      -ms-flex-preferred-size: 100% !important;
          flex-basis: 100% !important;
}

.categoryPost--big .categoryPost__wrapperImg {
  max-height: 460px;
  margin-bottom: 0;
}

.categoryPost--big .categoryPost_content {
  position: absolute;
  bottom: 3.6rem;
  left: 50%;

  width: 90%;
  max-width: 580px;
  padding: 2.8rem 6.8rem 2.4rem;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  background-color: #fff400;
  opacity: 0.92;
}

.categoryPost--big .categoryPost__title {
  margin-bottom: 1.4rem;
  padding: 0;

  font-size: 2.8rem;
  line-height: 3.2rem;
  max-width: 100%;
}

.category {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

.category__title {
  margin-bottom: 3.2rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  font-size: 3rem;
  font-weight: 300;
  line-height: 3.5rem;
}

.category__row {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 4.3rem;

  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.category__row:last-child {
  margin-bottom: 5.5rem;
}

.category__row:last-child .categoryPost {
  margin-bottom: 0;
}

.category__post {
  margin-right: 2rem;

  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}

.category__post:last-child {
  margin-right: 0;
}

.banner {
  background: #FFFFFF;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;

  width: 100%;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner--small {
  /*height: 250px;*/
}

.banner--big {
  /*height: 610px;*/
}

.articlesItem {
  max-width: 100%;
}

.articlesItem__link {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  text-decoration: none;

  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.articlesItem__link:hover .articlesItem__img {
  /*
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06);
  */
}

.articlesItem__wrapperImg {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;

  width: 60px;
  height: 60px;
  margin-right: 1.5rem;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.articlesItem__img {
  height: 60px;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.articlesItem__content {
  margin-top: -.4rem;
}

.articlesItem__description {
  max-width: 20.6rem;
  margin-bottom: 0.9rem;

  letter-spacing: 0.02em;

  color: #333333;

  font-size: 1.4rem;
  line-height: 2rem;
}

.articlesItem__date {
  letter-spacing: 0.15em;

  color: #555555;

  font-size: 1rem;
}

.articles__title {
  display: block;

  margin-bottom: 4.1rem;

  letter-spacing: 0.15em;

  color: #000000;

  font-size: 2.6rem;
  font-weight: 300;
}

.articles__title::after {
  position: absolute;
  bottom: -1.6rem;
  left: 0;

  width: 100%;
  height: 1px;

  content: '';

  background-color: #cccccc;
}

.articles__item {
  margin-bottom: 2.7rem;
}

.articles__item:last-child {
  margin-bottom: 0;
}

.sidebar .dynamic {
    height:462px;
}

.sidebar__articles {
  margin-bottom: 5.5rem;
  min-height: 407px;
}

.sidebar__wrapperBanner {
  margin-bottom: 3.1rem;
}

.sidebar__wrapperBanner:last-child {
  margin-bottom: 0;
  padding-top: 1rem;
}

.contentBlock {
  margin-bottom: 8.4rem;
}

.contentBlock__container {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.contentBlock__sidebar {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 300px;
      -ms-flex-preferred-size: 300px;
          flex-basis: 300px;
}

.contentBlock__wrapper {
  margin-right: 4.5%;
  padding-top: 0.1rem;
  width: 100%;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 1500px;
}

.footer {
  padding-top: 3.26rem;
  padding-bottom: 3.5rem;

  background-color: #1c1c1c;

  font-size: 1.25rem;
  line-height: 1.8rem;
}

.footer__container {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__col:first-child {
  margin-right: 2.5%;
  padding-top: 0.9rem;

  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

.footer__col:last-child {
  -webkit-flex-basis: 300px;
      -ms-flex-preferred-size: 300px;
          flex-basis: 300px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.footer__titleSoc {
  display: block;

  margin-bottom: 0.8rem;

  letter-spacing: 0.02em;

  color: #888888;

  line-height: 2.4rem;
}

.footer__soc {

  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__soc .soc__link {
  width: 30px;
  height: 30px;
}

.footer__soc .soc__link {
  opacity: 0.4;
}

.footer__soc .soc__link:hover {
  opacity: 0.6;
}

.footer__logo {
  margin-bottom: 2.6rem;

  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .footerEmail {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  /*color: #585858;*/
  color: #999999;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .footerEmail a {
    margin-right: 20px !important;
}

.footer .footerEmail__link {
  margin-left: 0.4rem;

  text-decoration: none;
  letter-spacing: 0.02em;

  color: #cccccc;
}

.footer .footerEmail__link:first-child {
  margin-left: 0;
}

.footer__copyrate, .footer__description, .footer__stopAge {
  display: block;

  max-width: 100%;
  margin-bottom: 1.8rem;

  letter-spacing: 0.02133em;

  /*color: #585858;*/
  color: #999999;
}

.modalSearchForm {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  padding: 0 1.5rem;

  color: #222222;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalSearchForm__wrapper {
  width: 100%;
  max-width: 737px;
}

.modalSearchForm__input {
  width: 100%;
  padding: 0 4.5rem 1.6rem 1.3rem;

  letter-spacing: 0.02em;

  border: none;
  border-bottom: 1px solid #cccccc;

  font-size: 2.8rem;
}

.modalSearchForm__placeholder {
  position: absolute;
  top: 0;
  left: 1.3rem;

  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;

  letter-spacing: 0.02em;

  opacity: 1;

  font-size: 2.8rem;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modalSearchForm__placeholder span {
  width: 1px;
  height: 3.1rem;
  margin-right: 0.2rem;


  background-color: #222222;
}

.modalSearchForm__placeholder--isHidden {
  visibility: collapse;

  opacity: 0;
}

@-webkit-keyframes cursor {
  50% {
    background-color: transparent;
  }
}

@keyframes cursor {
  50% {
    background-color: transparent;
  }
}

.modalSearch {
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;

  visibility: collapse;

  height: 100vh;
  padding-top: 40vh;

  opacity: 0;
  background-color: #ffffff;
}

.modalSearch .modalSearchForm__placeholder {
  visibility: collapse;
}

.modalSearch--isVisible {
  visibility: visible;

  opacity: 1;
}

.modalSearch--isVisible .modalSearchForm__placeholder {
  visibility: visible;
}

.mobileMenu {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;

  width: 100%;

  list-style-type: none;

  font-size: 3rem;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
}

.mobileMenu__item {
  margin-bottom: 4rem;
}

.mobileMenu__item:last-child {
  margin-bottom: 0;
}

.mobileMenu__link {
  display: block;

  text-decoration: none;
  text-transform: uppercase;

  color: #222222;
}

.mobileMenu__link:hover {
}

.modalMobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  visibility: collapse;
  overflow: auto;

  height: 100vh;
  padding-top: 20vh;

  opacity: 0;
  background-color: #ffffff;
}

.modalMobileMenu--isVisible {
  visibility: visible;
  z-index:9999;
  opacity: 1;
}

.youtube-player {
    width: 100%;
}

.product_text {
    text-align: center;
    /*margin-top: -10px;*/
    margin-bottom: 5rem;
}

.product_button {
    display: inline-block;
    padding: 10px 65px;
    background-color: #34bb7d;
    border-radius: 100px;
    color: #FFF !important;
    text-decoration: none;
    text-transform:uppercase;
}

.post__text.related {
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-top:10px;
    padding-bottom:10px;
    overflow: hidden;
    display: table;
}

.post__text.related a {
    font-size: 2.5rem;
    text-decoration: none;
    color: #555555;
    line-height: 3.4rem;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.post__text.related a:hover {
    text-decoration: underline;
}

.post__text.related img {
    max-width: 150px;
    max-height: 100px;
    margin-left: 4rem;
    display: table-cell;
    vertical-align: middle;
    cursor:pointer;
}

@media (min-width: 771px) {
  .postMore .postMoreItem__wrapperImg {
    height: 172px;
    max-width: 230px;
  }
  .postMore .postMoreItem__img {
     /*height: 100%;*/
  }
}


@media (max-width: 914px) {
  .pagination {
    margin-bottom: -2.4rem;
  }
  .pagination__item {
    margin-bottom: 2.4rem;
  }
}
@media (max-width: 768px) {
  .categoryPost .categoryPost__link{
    width: 100%;
  }
  .categoryPost .categoryPost__wrapperImg {
    max-height: 460px;
  }
}
@media (max-width: 800px) {
  .container {
    width: 100%;
    padding: 0 1.5rem;
  }
  .post__img {
    width: 100%;
    height: auto;
  }
  .header {
    border-bottom: 1px solid #eeeeee;
  }
  .header__logo {
    margin-left: 0;
  }
  .header__bottom, .header__soc, .header__specialProject {
    display: none;
  }
  .header__mobileBtnMenu, .header__mobileBtnSearch {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .categoryPost, .categoryPost_content {
      display: -webkit-flex;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;

      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -moz-box-direction: normal;
      -moz-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;

      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }
  .categoryPost--big .categoryPost_content {
    position: relative;
    bottom: auto;
    left: auto;

    width: 100%;
    max-width: 100%;

    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .categoryPost--big .categoryPost__title {
    font-size: 2.2rem;
  }
    .categoryPost .categoryPost__title {
        font-size: 2.1rem;
        line-height: 2.7rem;
        padding:0;
        font-weight: 700;
        letter-spacing: -0.04rem;
        position: relative;
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        display: block;
        overflow: hidden;
    }
  .postMore__row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .postMore__item {
    -webkit-flex-basis: -webkit-calc((100% - 3rem) / 2);
        -ms-flex-preferred-size: calc((100% - 3rem) / 2);
            flex-basis: calc((100% - 3rem) / 2);
  }
  .postMore__item:nth-child(1), .postMore__item:nth-child(2) {
    margin-bottom: 3.6rem;
  }
  .postMore__item:nth-child(2) {
    margin-right: 0;
  }
  .modalMobileMenuClose:hover,
  .modalSearchClose:hover {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  h1.post__mainTitle, h1.post__secondaryTitle, h1.post__title {
    font-weight: 700;
    letter-spacing: -0.04rem;
    max-width: 100%;
    font-size: 3.0rem;
    line-height: 3.2rem;
    text-align: left;
    width: 96%;
    margin-left: 0;
  }
  
  .post__title {
      font-weight: 700;
      letter-spacing: -0.04rem;
      font-size: 2.4rem;
      line-height: 2.8rem;
  }
    
  .post__secondaryTitle {
      font-weight: 700;
      letter-spacing: -0.04rem;
      font-size: 1.8rem;
      line-height: 2.3rem;
  }
  
  .postMore .postMoreItem__description {
      font-size: 1.8rem;
      line-height: 2.6rem;
  }
  
  .categoryPost--big .categoryPost_content {
      background: #FFFFFF;
      opacity:1;
      padding: 1.5rem 1.5rem 0 0rem;
      text-align:left;
  }
  
  .category__post, .category__post:last-child {
      text-align: left;
  }
  
  .categoryPost__infoCategory  {
      position: relative;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      margin-bottom: 10px;
  }
  
  .post__wrapperImg, .dayg {
      width: 100vw;
      margin-left: calc(-50vw + 50%);
  }

  .categoryPost .categoryPost__wrapperImg {
      width: 100vw;
      margin-left: calc(-50vw + 50%);
      margin-bottom:0;
  }

  .post__imgCaption {
      padding-left: 1.5rem;
  }
  
  .categoryPost_small_content {
      position: relative;
      bottom: auto;
      left: auto;
      width: 100%;
      max-width: 100%;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      background: #FFFFFF;
      opacity: 1;
      padding: 1.5rem 1.5rem 0 1.5rem;
      text-align: left;
      width: 100vw;
      margin-left: calc(-50vw + 50%);
  }

}

@media (max-width: 770px) {
  .categoryPost--big {
      height: initial;
  }
  
  .category__row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .category__post {
    margin-right: 0;
    margin-bottom: 4.3rem;

    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .category__post:last-child {
    margin-bottom: 0;
  }
  .postMore__item {
    margin-right: 0;
    margin-bottom: 3.6rem;

    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .postMore__item:last-child {
    margin-bottom: 0;
  }


.post__text.related a {
    font-size: 1.5rem;
    line-height: 2.1rem; 
    font-weight: bold;
}

.post__text.related img {
    max-width: 100px;
    max-height: 66px;
    margin-left: 1rem;
    display: table-cell;
    vertical-align: middle;
}

}
@media (max-width: 661px) {
  section.contentBlock__content:not(:first-child)::before {
    margin: 35px 0 50px 0;
  }

  .error__title {
    font-size: 4rem;
  }
  .error__subtitle {
    font-size: 3rem;
  }

  .category__row {
      margin-bottom: 0rem;
  }
  .category__post, .category__post:last-child {
      margin-bottom: 2.7rem !important;
  }
  .post__text {
      font-size: 1.8rem;
      line-height: 2.8rem;
      margin-bottom: 2.5rem;
  }
  .contentBlock ul, .contentBlock ol {
      font-size: 1.8rem;
  }

  .step_by_step .post__title.h3 {
      font-size: 1.8rem;
  }
  
  .contentBlock__container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .contentBlock__wrapper {
    margin-right: 0;
    margin-bottom: 5rem;

    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .contentBlock__sidebar {
    width: 100%;

    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .contentBlock__sidebar .sidebar__wrapperBanner {
    display: none;
  }
  .postInforamtion {
    -webkit-box-pack: left;
    -webkit-justify-content: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .postInforamtion > * {
    margin-right: 2.8rem;
  }
  .postInforamtion > *::after {
    right: -1.5rem;
  }
  .postMobileBanner {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .footer__col {
    -webkit-flex-basis: 100% !important;
        -ms-flex-preferred-size: 100% !important;
            flex-basis: 100% !important;
  }
  .footer__col:first-child {
    margin-bottom: 3.5rem;
  }
  .btnToUp {
    display: none;
  }
  .articles__title {
    display: block;

    margin-bottom: 4.3rem;

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #000000;

    font-size: 3rem;
    font-weight: 300;
  }
  .articlesItem__content {
    width: 100%;
  }
  .articlesItem__description {
    max-width: none;
  }
  
  .contentBlock {
    margin-bottom: 0;
  }
  
  .category__row:last-child {
    margin-bottom: 0rem;
  }
  .mobile-banner {
    width: calc(100vw - 3rem)!important;
    padding-bottom: 1.6rem;
    display: block;
    border-top: #f2f2f2 1px solid;
    border-bottom: #f2f2f2 1px solid;
    padding: 18px 0 26px 0;
    margin-bottom: 3rem;
  }

  .mobile-banner .adsbygoogle {
  }

  .aby {
      min-height: 280px;
      max-height: 80vh;
  }

  .mobile-banner:after {
    content: "Реклама";
    text-transform: uppercase;
    font-size:10px;
    letter-spacing: 0.3rem;
    color: #c2c2c2;
    position: absolute;
    bottom: -7px;
    background: #FFFFFF;
    padding: 0 10px;
    left: calc(50% - 44px);
  }
  .logo__img {
    width: 102px;
    height: 23px;
  }
  .header__top {
    margin-bottom: 1rem;
  }
  .header {
    margin-bottom: 3.3rem;
    padding-top: 1rem;
  }
  .post .header {
  }
  .post__mobileBanner_top {
      margin-bottom: 3.3rem;
      margin-top: 10px;
  }
  .page--isHidden .post__mobileBanner_top {
      display:none;
  }

}
@media (max-width: 360px) {
  .footerEmail.footer__email {
    font-size: 1.1rem;
  }
}

@media (max-width: 1280px) {
    .contentBlock__sidebar {
        display: none;
    }
   .contentBlock__wrapper {
     margin-right: 0;
   }
}

@media (min-width: 801px) and (max-width: 1280px){
  .post__img {
    width: 750px;
  }
}



.ce-banner{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EEEEEE;
    padding: 8px;
    color: #000000;
    font-size: 15px;
    text-align: center;
}

.ce-banner a {
    color: #000000;
}

.ce-accept, .ce-dismiss, .ce-disable{
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    display: inline-block;
    margin: 1px 15px;
    border-radius: 10px;
}

.ce-disable{
    background-color: #aaa;
}

.ce-accept:hover,
.ce-dismiss:hover,
.ce-disable:hover{
    background-color: #85C1E9;
    color: #111111;
}

.ce-accept{
    background-color: #5DADE2;
    color: #FFFFFF !important;
    font-weight: bold;
}

.ce-dismiss{
    position: absolute;

    font-size: .8em;

    right: 1em;
    top: 1em;

    background-color: #ccc;
    color: #333;
}

.ce-iframe-placeholder{
    padding: 1em;
    background-color: #eee;
    margin: 1em 0;
}

.ce-iframe-placeholder p{
    margin: 0;
}




.banner-install {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #f2f1f6;
    padding:10px;
    z-index: 99999;
}

.banner-install-bottom-logo {
    width: 50px;
    float: left;
    background: url("/android-icon-48x48.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
}

.banner-install-bottom-info {
    float: left;
    padding-left: 10px;
    padding-top: 4px;
    line-height: 20px;
}

.banner-install-bottom-info .banner-install-bottom-header {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.banner-install-bottom-info .banner-install-bottom-header .star {
    font-size: 12px;
    font-weight: normal;
    color: #fb9504;
}

.banner-install-bottom-info .banner-install-bottom-text {
    color: #909094;
    font-size: 12px;
}

.banner-install-bottom-button {
    float:right;
    padding-top:10px;
    position: absolute;
    right: 10px;
}

.banner-install-bottom-button button {
    background: #ff5317;
    color: #FFFFFF;
    padding: 7px;
    font-size: 13px;
    border-radius: 5px;
    border:0;
    outline:0;
}

.banner-install-bottom-close {
position: absolute;
    font-size: 30px;
    top: -25px;
    right: 0;
    width: 25px;
    height: 25px;
    background: #ffffff;
    display: block;
    border-radius: 5px;
    line-height: 23px;
    padding-left: 4px;
    color: #999;
    cursor: pointer;
}

.step_by_step .post__title.h3 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.step_by_step .post__ul li::marker {
    color: #222222;
}

.step_by_step .post__ol {
    list-style-position: initial;
    padding-bottom: 2rem;
    margin-left: 0.2rem;
    list-style: none; 
    counter-reset: li;
    margin-bottom: 3rem;
}

.step_by_step ol li::before {
    content: counter(li) '.'; 
    color: #444444;
    display: inline-block; 
    width: 2.5rem;
    font-weight:bold;
    font-size: 1.6rem;
}

.step_by_step ol li:nth-child(n+10)::before {
    width: 3.5rem;
}

.step_by_step ol li{counter-increment: li}

.step_by_step li.noli {
    list-style: none;
    font-weight: bold;
    margin-left: -2rem;
    padding: 10px 0;
}


.step_by_step .post__ul, .step_by_step .post__ol {
    margin-top: 0px;
}

.step_by_step img.i_step {
    width: 500px;
    height: auto;
}

.step_by_step figure.i_step figcaption {
    display:none;
}

figure.i_step {
    margin-bottom: 0;
    padding-bottom: 0;
}

@media (max-width: 800px) {
    .step_by_step .post__title.h3 {
        font-size: 1.8rem;
    }
    .step_by_step li.noli {
        font-size:1.8rem;
    }
}


@media screen and (max-width: 374px){

    .banner-install-bottom-button button {
        font-size: 11px;
    }
    
    .banner-install-bottom-info {
        padding-left: 5px;
        padding-top: 6px;
    }
    
    .banner-install-bottom-info .banner-install-bottom-header {
        font-size: 13px;
    }

    .banner-install-bottom-info .banner-install-bottom-text {
        font-size: 10px;
    }
}
